body {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}
table {
	width: inherit;
}
.p {
	height: 120px;
	width: 120px;
	padding: 1px;
	margin: 5px;
}
.p2 {
	height: 100px;
	width: 120px;
	padding: 1px;
	margin: 5px;
}
